In [1]:
import pandas as pd

In [10]:
data={
    "carros":['audi','bmw','toyota','Ford','Mercedes Benz'],
    'GiganteInformaticos':['Google','Microsoft','Amazon','FireFox','Apple'],
    'MarcasElectro':['LG','Mabe','Hp','Cannon','SMC'],
    'Universidades':['Espol','Harvard','Cambridge','Oxford','MIT']
}

In [11]:
data1=pd.DataFrame(data)
data1

          carros GiganteInformaticos MarcasElectro Universidades
0           audi              Google            LG         Espol
1            bmw           Microsoft          Mabe       Harvard
2         toyota              Amazon            Hp     Cambridge
3           Ford             FireFox        Cannon        Oxford
4  Mercedes Benz               Apple           SMC           MIT