In [18]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import random as rd

In [19]:
df=pd.read_csv('country_profile_variables_taller1.csv')
df

,country,Region,Surface area (km2),Population in thousands (2017),"Population density (per km2, 2017)","Sex ratio (m per 100 f, 2017)",GDP: Gross domestic product (million current US$),"GDP growth rate (annual %, const. 2005 prices)",GDP per capita (current US$),Economy: Agriculture (% of GVA),...,Mobile-cellular subscriptions (per 100 inhabitants).1,Individuals using the Internet (per 100 inhabitants),Threatened species (number),Forested area (% of land area),CO2 emission estimates (million tons/tons per capita),"Energy production, primary (Petajoules)",Energy supply per capita (Gigajoules),"Pop. using improved drinking water (urban/rural, %)","Pop. using improved sanitation facilities (urban/rural, %)",Net Official Development Assist. received (% of GNI)
0,Afghanistan,SouthernAsia,652864,35530,54.4,106.3,20270,-2.4,623.2,23.3,...,8.3,42,2.1,9.8/0.3,63,5,78.2/47.0,45.1/27.0,21.43,-99
1,Albania,SouthernEurope,28748,2930,106.9,101.9,11541,2.6,3984.2,22.4,...,63.3,130,28.2,5.7/2.0,84,36,94.9/95.2,95.5/90.2,2.96,-99
2,Algeria,NorthernAfrica,2381741,41318,17.3,102.0,164779,3.8,4154.1,12.2,...,38.2,135,0.8,145.4/3.7,5900,55,84.3/81.8,89.8/82.2,0.05,-99
3,American Samoa,Polynesia,199,56,278.2,103.6,-99,-99,-99.0,-99,...,-99,92,87.9,-99,-99,-99,100.0/100.0,62.5/62.5,-99,-99
4,Andorra,SouthernEurope,468,77,163.8,102.3,2812,0.8,39896.4,0.5,...,96.9,13,34.0,0.5/6.4,1,119,100.0/100.0,100.0/100.0,-99,-99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,Wallis and Futuna Islands,Polynesia,142,12,84.1,93.4,-99,-99,-99.0,-99,...,9.0,89,41.6,~0.0/1.6,-99,26,-99,-99,-99,-99
225,Western Sahara,NorthernAfrica,266000,553,2.1,110.1,-99,-99,-99.0,-99,...,-99,49,2.7,-99,-99,-99,-99,-99,-99,-99
226,Yemen,WesternAsia,527968,28250,53.5,102.1,29688,-28.1,1106.4,14.7,...,25.1,298,1.0,22.7/0.9,668,12,72.0/46.5,92.5/34.1,2.99,-99
227,Zambia,EasternAfrica,752612,17094,23.0,98.5,21255,2.9,1311.1,8.2,...,21.0,88,65.6,4.5/0.3,374,26,85.6/51.3,55.6/35.7,3.96,-99
228,Zimbabwe,EasternAfrica,390757,16530,42.7,95.0,13893,1.1,890.4,13.0,...,16.4,89,37.2,12.0/0.8,482,30,97.0/67.3,49.3/30.8,6.00,-99

In [20]:
list_id=list(range(df.shape[0]+1))
id_ale=rd.sample(list_id,20)

df_new=df.iloc[id_ale]
df_new=df_new[['Energy production, primary (Petajoules)','CO2 emission estimates (million tons/tons per capita)','Individuals using the Internet (per 100 inhabitants)','Seats held by women in national parliaments %','Urban population (% of total population)','Agricultural production index (2004-2006=100)','Economy: Services and other activity (% of GVA)','Economy: Industry (% of GVA)','GDP per capita (current US$)','GDP: Gross domestic product (million current US$)','Sex ratio (m per 100 f, 2017)','Population density (per km2, 2017)','Population in thousands (2017)']]

df_new

,"Energy production, primary (Petajoules)",CO2 emission estimates (million tons/tons per capita),Individuals using the Internet (per 100 inhabitants),Seats held by women in national parliaments %,Urban population (% of total population),Agricultural production index (2004-2006=100),Economy: Services and other activity (% of GVA),Economy: Industry (% of GVA),GDP per capita (current US$),GDP: Gross domestic product (million current US$),"Sex ratio (m per 100 f, 2017)","Population density (per km2, 2017)",Population in thousands (2017)
101,119,313,174,27.5,92.1,112,77.5,21.2,37129.4,299413,98.7,384.5,8322
115,19,73,172,12.3,49.7,104,17.9,11.4,455.9,2053,101.8,49.1,4732
35,17,178,255,20.3,20.7,175,42.3,29.4,1158.7,18050,95.3,90.7,16005
206,607,1663,69,31.0,8.4,95,57.0,42.5,19062.9,25927,97.1,266.9,1369
131,62,8514,1162,42.6,79.2,120,60.4,36.0,8980.9,1140724,99.2,66.4,129163
217,289,83887,1513,19.1,81.6,111,79.3,19.7,56053.8,18036648,98.0,35.5,324460
3,-99,-99,92,-99.0,87.2,112,-99.0,-99.0,-99.0,-99,103.6,278.2,56
37,324,19276,122,26.3,81.8,109,69.6,28.6,43205.6,1552808,98.5,4.0,36624
102,103,1539,359,31.0,69.0,89,74.2,23.5,30462.4,1821580,95.1,201.8,59360
97,127,13291,134,5.9,73.4,106,52.3,39.1,5038.1,398563,101.2,49.8,81163
138,20,779,309,39.6,32.2,137,54.4,21.0,529.2,14806,95.5,37.7,29669
208,65,1303,388,14.9,73.4,120,65.0,26.4,9125.8,717888,97.0,104.9,80745
73,50,3,73,-99.0,84.4,120,-99.0,-99.0,-99.0,-99,100.0,3.4,283
177,287,25904,131,19.9,83.1,96,51.8,46.0,20710.6,653219,132.9,15.3,32938
199,14,76,45,19.0,26.8,155,47.1,28.0,925.9,7853,100.9,63.7,8921
1,36,84,130,22.9,57.4,134,51.7,26.0,3984.2,11541,101.9,106.9,2930
112,99,108,30,16.0,67.4,130,73.5,23.3,13704.1,27004,84.9,31.3,1950
18,122,155,25,34.5,76.7,122,53.6,38.9,5750.8,54609,87.0,46.7,9468
54,164,1221,53,20.0,73.0,102,59.7,37.8,17561.7,185156,96.7,137.5,10618
88,12,113,185,21.9,37.2,130,47.4,32.8,703.9,8875,100.6,51.8,12717

In [21]:
def rangoAmpl(Feature,CanIntervalos,name):
  max=Feature.max()
  min=Feature.min()
  rg=max-min
  ampl=rg/CanIntervalos
  intervals = pd.interval_range(
    start=min,
    end=max+ampl,
    freq=ampl,
    name=name,
    closed="left"
    )
  
  dataFre=pd.DataFrame(index=intervals)
  dataFre['Marca']=dataFre.index.mid
  dataFre['Fre_Abs']=pd.cut(Feature, bins=dataFre.index).value_counts()

  li_FeAcumu=[]
  acumu=0
  for x in dataFre['Fre_Abs']:
    acumu=acumu+x
    li_FeAcumu.append(acumu)

  dataFre['Fre_Acumu']=li_FeAcumu

  CantidadDatos=dataFre['Fre_Abs'].sum()

  dataFre['Fre_Re']=dataFre['Fre_Abs']/CantidadDatos

  li_Fe_reAcumu=[]

  acumu2=0
  for i in dataFre['Fre_Re']:
    acumu2=acumu2+i
    li_Fe_reAcumu.append(acumu2)

  dataFre['Fre_Rela_Acumu']=li_Fe_reAcumu
  
  return dataFre

In [22]:
data1=rangoAmpl(df_new['Population in thousands (2017)'],20,'Population in thousands (2017)')
data1

,Marca,Fre_Abs,Fre_Acumu,Fre_Re,Fre_Rela_Acumu
Population in thousands (2017),,,,,
"[56.0, 17129.894736842107)",8592.947368,12,12,0.631579,0.631579
"[17129.894736842107, 34203.78947368421)",25666.842105,2,14,0.105263,0.736842
"[34203.78947368421, 51277.68421052632)",42740.736842,1,15,0.052632,0.789474
"[51277.68421052632, 68351.57894736843)",59814.631579,1,16,0.052632,0.842105
"[68351.57894736843, 85425.47368421053)",76888.526316,2,18,0.105263,0.947368
"[85425.47368421053, 102499.36842105264)",93962.421053,0,18,0.000000,0.947368
"[102499.36842105264, 119573.26315789475)",111036.315789,0,18,0.000000,0.947368
"[119573.26315789475, 136647.15789473685)",128110.210526,1,19,0.052632,1.000000
"[136647.15789473685, 153721.05263157896)",145184.105263,0,19,0.000000,1.000000
"[153721.05263157896, 170794.94736842107)",162258.000000,0,19,0.000000,1.000000
"[170794.94736842107, 187868.84210526317)",179331.894737,0,19,0.000000,1.000000
"[187868.84210526317, 204942.73684210528)",196405.789474,0,19,0.000000,1.000000
"[204942.73684210528, 222016.6315789474)",213479.684211,0,19,0.000000,1.000000
"[222016.6315789474, 239090.5263157895)",230553.578947,0,19,0.000000,1.000000
"[239090.5263157895, 256164.4210526316)",247627.473684,0,19,0.000000,1.000000
"[256164.4210526316, 273238.3157894737)",264701.368421,0,19,0.000000,1.000000
"[273238.3157894737, 290312.21052631584)",281775.263158,0,19,0.000000,1.000000
"[290312.21052631584, 307386.1052631579)",298849.157895,0,19,0.000000,1.000000
"[307386.1052631579, 324460.0)",315923.052632,0,19,0.000000,1.000000

In [23]:
data2=rangoAmpl(df_new['Population density (per km2, 2017)'],20,'Population density (per km2, 2017)')
data2

,Marca,Fre_Abs,Fre_Acumu,Fre_Re,Fre_Rela_Acumu
"Population density (per km2, 2017)",,,,,
"[3.4, 23.407749999999997)",13.403875,3,3,0.15,0.15
"[23.407749999999997, 43.415499999999994)",33.411625,3,6,0.15,0.30
"[43.415499999999994, 63.42324999999999)",53.419375,4,10,0.20,0.50
"[63.42324999999999, 83.431)",73.427125,2,12,0.10,0.60
"[83.431, 103.43875)",93.434875,1,13,0.05,0.65
"[103.43875, 123.44649999999999)",113.442625,2,15,0.10,0.75
"[123.44649999999999, 143.45425)",133.450375,1,16,0.05,0.80
"[143.45425, 163.462)",153.458125,0,16,0.00,0.80
"[163.462, 183.46974999999998)",173.465875,0,16,0.00,0.80
"[183.46974999999998, 203.4775)",193.473625,1,17,0.05,0.85
"[203.4775, 223.48524999999998)",213.481375,0,17,0.00,0.85
"[223.48524999999998, 243.49299999999997)",233.489125,0,17,0.00,0.85
"[243.49299999999997, 263.5007499999999)",253.496875,0,17,0.00,0.85
"[263.5007499999999, 283.50849999999997)",273.504625,2,19,0.10,0.95
"[283.50849999999997, 303.51624999999996)",293.512375,0,19,0.00,0.95
"[303.51624999999996, 323.52399999999994)",313.520125,0,19,0.00,0.95
"[323.52399999999994, 343.53174999999993)",333.527875,0,19,0.00,0.95
"[343.53174999999993, 363.5394999999999)",353.535625,0,19,0.00,0.95
"[363.5394999999999, 383.54724999999996)",373.543375,0,19,0.00,0.95
"[383.54724999999996, 403.55499999999995)",393.551125,1,20,0.05,1.00

In [24]:
col=list(df_new.columns.values)
for k in col:
  data=rangoAmpl(df_new[k],20,k)
  print(data.to_markdown())

ImportError: Missing optional dependency 'tabulate'.  Use pip or conda to install tabulate.